* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #111;
}

.app {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background: #777;
}

.container {
  width: 100%;
  max-width: 500px;
  background:rgb(74, 164, 247);
  min-height: 100vh;
}

.header {
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid #999;
}

.form-container,
.project-list {
  border: 1px solid #888;
  margin: 25px;
  border-radius: 6px;
  padding: 15px;
}

.form-container h2 {
  margin-bottom: 15px;
  
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #888;
  border-radius: 4px;
  margin-bottom: 10px;
}

textarea {
  min-height: 100px;
  resize: none;
}

button {
  width: 100px;
  padding: 10px;
  border: 1px solid #777;
  background: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  background: rgb(79, 79, 238);
  
}
button:hover {
  background: rgb(2, 2, 118);
  color: white;
  transition: 0.3s;
  transform: scale(1.05);
}

.search-container {
  padding: 0 25px;
  
}

.search-container input {
  width: 100%;
}

.project-card {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  margin-bottom: 15px;
  border-radius: 6px;
  
}

.project-card:hover {
  background: #eee;
  transition: 0.3s;
  transform: scale(1.02);
}  

.image-placeholder {
  width: 50px;
  height: 50px;
  border: 1px solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background: #777;
  margin-left: 10px;
}

.no-projects {
  padding: 20px 0;
  text-align: center;
  color: gray;
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }

  .project-card {
    flex-direction: column;
    align-items: flex-start;
  }

  button {
    width: 100%;
    
  }
}